.a1 {
    color: red;
    font-size: 25px;
    border: 1px solid #f5c6cb;
    background: #0b2e13;
    width: 70px;
}

.a2{
   background: blue;
}

.a3{
    background: orange;
    width: 90px;
}

.a3{
    background: orange;
    width: 90px;
}