.fade-leave-active {
    transition: all 3s ease;
}

.fade-enter-active {
    transition: all 3s ease;
}

.fade-leave-active {
    opacity: 0;
    width: 300px;
    height: 10px;
}

.fade-enter {
    opacity: 0;
    width: 10px;
    height: 10px;
}

.div1 {
    font-size: 40px;
    text-align: center;
}


.a{
    border: #f60 solid 1px;
    width: 300px;
}
.b {
    border: #fd7e14 solid 1px;
    width: 200px;
}
.c {
    border: #fd7e14 solid 1px;
    width: 200px;
}

ul, li{
    padding: 0; margin: 0;
}
.tab-tit li {
    padding: 10px 15px;
    text-align: center;
    list-style: none;
    cursor: pointer;
    display: inline-block;
}
.tab-tit .active{
    color: #09f;
    border-bottom: 1px solid #09f;
}
.tab-content div{
    margin: 30px;
}


[v-cloak]{
    display: none;
}

.a1 {
    color: red;
    font-size: 25px;
    border: 1px solid #f5c6cb;
    background: #0b2e13;
    width: 70px;
}

.a2{
   background: blue;
}

.a3{
    background: orange;
    width: 90px;
}

.a3{
    background: orange;
    width: 90px;
}