<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://cdn.bootcss.com/bootstrap/4.1.3/css/bootstrap.css" rel="stylesheet">
    <link href="index.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="index.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<!--v-component-->
<div id="root-component">
    <hello-world></hello-world>
    <hello></hello>
    <component-cn></component-cn>
    <com-con></com-con>
    <component-tab></component-tab>
</div>
<!--定义模板-->
<template id="com-con">
    <div>
        <p>{{title}}</p>
        <ul>
            <li v-for="(v, i) in lists">{{v}}</li>
        </ul>
    </div>
</template>
<template id="com-tab">
    <div>
        <ul class="tab-tit">
            <li v-for="(v, i) in tabTitle" @click="cur1=i" :class="{active:cur1==i}">{{v}}</li>
        </ul>
        <div class="tab-content">
            <div v-for="(v, i) in tabContent" v-show="cur1===i">{{v}}</div>
        </div>
    </div>
</template>

<!--v-event-->
<div id="root-event">
    <!--阻止事件传播-阻止事件冒泡-->
    <div @click="showA()" class="a">A
        <div @click="showB()" class="b">B
            <div @click="showC()" class="c">C</div>
            <div @click.stop="showC()" class="c">C Stop</div>
        </div>
    </div>
<!--    阻止默认行为-->
    <a href="http://www.baidu.com" @click="showA()">clickA</a>
    <a href="http://www.baidu.com" @click.prevent="showA()">clickB</a>
<!--    只执行一次-->
    <button @click.once="showB()">Once</button>
</div>

<!--tab-->
<div id="root-tab">
    <ul class="tab-tit">
        <li @click="cur=0" :class="{active:cur==0}">标题1</li>
        <li @click="cur=0" :class="{active:cur==1}">标题2</li>
        <li @click="cur=0" :class="{active:cur==2}">标题3</li>
    </ul>
    <div class="tab-content">
        <div v-show="cur==0">内容一</div>
        <div v-show="cur==1">内容二</div>
        <div v-show="cur==2">内容三</div>
    </div>
<!--    动态实现-->
    <ul class="tab-tit">
        <li v-for="(v, i) in tabTitle" @click="cur1=i" :class="{active:cur1==i}">{{v}}</li>
    </ul>
    <div class="tab-content">
        <div v-for="(v, i) in tabContent" v-show="cur1===i">{{v}}</div>
    </div>
</div>

<!--v-model-->
<div id="root-model">
    <p>{{age}}</p>
<!--    表单的Model赋值和禁用-->
    <input type="text" v-model="age" :disabled="true">
<!--    通过表达式禁用-->
    <input type="text" v-model="age" :disabled="age==20">

    <div>
<!--        单个复选框-->
        <input type="checkbox" v-model="che">123{{che}}
<!--        多个复选框-->
        <input type="checkbox" v-model="arr" value="1">教师
        <input type="checkbox" v-model="arr" value="2">学生
        <input type="checkbox" v-model="arr" value="3">管理员
        {{arr}}
    </div>

<!--    单选框-->
    <div>
        <input type="radio" v-model="radioV" name="test" value="0">男
        <input type="radio" v-model="radioV" name="test" value="1">女
        {{radioV}}
    </div>

<!--    下拉框-->
    <div>
        <select v-model="selected">
<!--            value注意使用v-bind:来绑定-->
            <option v-for="(v, i) in items" v-bind:value="v.value">{{v.text}}</option>
        </select>
        {{selected}}
    </div>
</div>

<!--闪烁效果实现-->
<div id="root-light">
    <div v-cloak>
        {{msg}}--{{age}}
    </div>
<!--    值渲染,以文本形式解析-->
    <div v-text="msg"></div>
<!--    值渲染,以HTML形式解析-->
    <div v-html="html"></div>
</div>

<!--v-bind:样式绑定-->
<div id="root-bind">
    <img v-bind:src="url" width="100" height="100" :title="title">
    <img v-bind:src="flag?url:url1" width="50" height="50" :title="title">

<!--    单个引用-->
    <div :class="a1">Hello World</div>
<!--    多个引用 后面的会被前面的覆盖-->
    <div :class="[a1, a2]">Hello Fcant</div>
<!--    通过boolean值判断样式显示-->
    <div :class="{'a3':flag1}">Toll</div>

    <div :style="{color: 'red', background: '#f60', width: '70px'}">孔孟</div>
    <div :style="a4">圣贤书</div>
    <div :style="[a4, a5]">左格</div>
<!--    三目运算-->
    <div :class="flag? a1: a2">从未离去</div>
    <div :style="flag? a4: a5">你归不归</div>
</div>

<!--v-for：循环遍历-->
<div id="for">
    <div>{{msg}}--{{age}}</div>
    <ul>
        <li v-for="(v, i) in arr">
            {{v}}--{{i}}
        </li>
    </ul>
    <ul>
        <li v-for="(v, key) in obj">
            {{v}}--{{key}}
        </li>
    </ul>
    <ul>
        <li v-for="(v, key) in lists">
            {{v}}--{{key}}--{{v.name}}
        </li>
    </ul>
    <button v-on:click="click">点击</button>
    <button v-on:mouseover="mouseover">mouseOver</button>
    <button v-on:mouseout="mouseout">mouseOut</button>
    <button @dblclick="twoClick">twoClick</button>
<!--    隐藏显示内容-->
    <button v-show="flag">是否显示</button>
    <button v-show="age==17">是否显示年龄</button>
<!--    使用if else-->
    <p v-if="age==18">18</p>
    <p v-else-if="age==20">20</p>
    <p v-else>not</p>
<!--    三目表达式-->
    <p v-if="flag?age=18:age=20">{{age}}</p>
</div>

<div id="root">
    {{name}}
</div>

<div id="app-2">
  <span v-bind:title="message">
    鼠标悬停几秒钟查看此处动态绑定的提示信息！
  </span>
    <div class="panel panel-info" style="margin: 20px">
<!--        头部-->
        <div class="panel-heading">
            <h1 style="display: inline-block;">{{name}}购物车清单</h1>
            <span class="label label-warning">{{lists.length}}</span>
        </div>
    </div>
<!--    内容-->
    <div class="panel-body">
        <div class="input-group">
            <input class="form-control" type="text" v-model="text"/>
            <span class="input-group-btn">
                <button class="btn btn-primary" v-on:click="add(text)">添加</button>
            </span>
        </div>
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th>清单名称</th>
                    <th>状态</th>
                    <th>删除</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item, index) in lists">
                    <td>{{item.name}}</td>
                    <td>{{item.state | stateFilter}}</td>
                    <td><button type="button" v-on:click="del(index)">删除</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
</body>
</html>